.CRm{
    height: 500px;
    border-right: 0%;
    border-left: 0%;
    border-bottom: 0%;
    border-top: 0%;
    display: flex;
    cursor: grab;

}

.CRfoto{
    height: 500px;
    width: 1200px;
    cursor: grab;
}
