  .body{
    color: var(--color-#000b50);
    color: var(--color-#78b3ffbb);
    color: var(---color-#c7c7c7);
    color: var(---color-#003444);
    color: var(---color-#00a3d4);
    color: var(---color-#3f9c9c);
    display: flex;
    justify-content: left;
    background:linear-gradient(#000000,#00583b); 
    flex-grow: 1;
    height: 2000px;
    width: 100%;
    overflow: auto;
  }

.filmesCards{
  display:flex;
  justify-content: center;
  width: 100%;

}

.st1{
    height: 15px;
    position: relative;
  }
  
  .st2{
    height: 15px;
    padding-bottom: 0px;
  }
  
  .tl1{
   font-size: 20px;
   padding-left: 10%;
   width: 270px;
   align-items: center;
   justify-content: space-around;
   font-family: monospace;
   color: #eeeeeeea;
   display: flex;
   white-space: pre-line;
   animation: 35s slide infinite linear;

  }

  .tl1 :hover{
    animation-play-state:paused;

  }
  

   @keyframes slide{
    from {
      transform: translate(0);
    }
    to {
      transform: translate(-100);
    }
  }
  

  .des1{
    color: #f5f4f4de;
  }
  

  .itemsr{
    /* list-style: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: space;
    margin-left: 8px;
    margin-right: -6px;
    margin-bottom: 10px;
    margin-top: -36px; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  

  .it1f{
    width: 270px;
    height: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  

  .itemsr1{
    border-radius: 15px;
    background-color: #0f0f0fdc;
    margin: 15px;
    position: relative;
    border: 3px solid #494949;
    cursor: pointer;
    height: 100%;
  }
  

  .itemsr1:hover{
    transition: 0.3s;
    border-color: #00f3a2;
    transform: scale(1.03);
    
  }

 
  .imdb{
    display: flex;
    padding-left: 60px;
  }

  .tt{
    align-items: left;
    display: flex;
    align-content: right;
    color: #00441c;
    font-style:italic;
    font-family: 'monospace';
    border-bottom: 1px solid #ffffff;
    margin: 50px;
    justify-content: center;
    
  }

  .tt2{
    text-shadow: 3px 3px #000000;

  }

  .recomends{
    
    width: 100vw;

  }

  @media (max-width: 1600px) {
    .itemsr{
      grid-template-columns: auto auto auto auto;
    }
  }

