body{
   display: flex;
   padding: 0px;
   margin: 0px;
   color: #000000f1;
   background:linear-gradient(#000000,#190661ab); 
}

.PFposter{
    margin: 30px;
}

.PFposter2{
    width: 500px;
    height: 600px;
}

.PFcont1{
    display: flex;
    flex-direction: row;
}

.PFcont2{
    width: 1342px;
}

.PFcont3{
    display: flex;
}

.PFdescricao{

    border: 1px solid #ffffff;
    border-radius: 50px;
    justify-content: center;
    width: 1300px;
    height: 400px;
    text-align: center;
    margin-top: 80px;  
    background-color: #00000065;
}

.PFdescricao{
    color: #8c00ff96;
}

.PFdescricao2{

    width: 1150px;
    height: 500px;
    padding-left: 100px;
    padding-top: 40px;
    font-size: 20px;
}

.PFtitulo{

    font-size: 70px;
    margin-top: 50px;
    justify-content: center;
    display: flex;
    color: #fdfdfda6;
}

.PFgeneros a{
    font-style: none;
    color:#000000;
}

.PFgeneros{
    border: #1eff00 1px solid;
    color: #00a524ea;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 12px;
    margin-left: 100px;
    background-color: #0000007e;
    align-items: center;
    height: 200px;
}

.PFplayer{
    border: #000000 1px solid;
    margin-left: 200px;
    margin-top: 50px;
    width: 1200px;
    height: 720px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.PFplayer2{
    display: flex;
    margin: 50px;
}

.PFplayerl{
    margin-right: 250px;
    border: #000000 1px solid;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 40px;
    color: #000000;
    background-color: #ffffff49;
}

.PFplayerd{
    border: #fdfdfd 1px solid;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:30px;
    height:40px;
    color:#ffffff;
    background-color: #0000004b;
}

.PFcomentario{
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 50px;
    width: 1600px;
}

.PFcomentario2{
    border: #1b1b1b 1px solid;
    margin-top: 50px;
    padding-left: 30px;
    border-radius: 15px;
    height: 60px;
    align-items: center;
    display: flex;
    color: #000000c9;
}

.PFCfoto{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.ipt{
    width: 1200px;
    background-color: rgba(255, 255, 255, 0);
    border: #1b1b1b 1px solid;
    outline-style: none;
    height: 40px;
    border-radius:30px;
    padding-left: 50px;
}


.btn{
    margin-left: 45px;
    background-color: #0000000e;
    height: 40px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    color: #12c086b4;
    border-color: #12c086b4;
}

.rmv{
    height: 15px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000000e;
}

.rmv:hover{
    color: #12c086b4;
    border-color: #12c086b4;
}

.td4{
    padding-left: 67%;
}


@media screen and (max-width:1280px){

    .PFm{
        width: 100vw;
        
    }

    .PFposter{
        height: 10%;
    }
    
    .PFposter2{
        width: 95%;
        height: 50%;
        padding-top: 60%;
    }

    .PFcont1{
        width: 100vw;
    }
    
    .PFcont2{
        width: 58%;
    }

    .PFdescricao2{
        width: 95%;
        font-size: 16px;
    }

    .PFdescricao{
        width: 110%;
    }

    .PFgeneros{
        width: 18%;
        margin-left: 5%;
    }

    .PFplayer{
        width: 70%;
        margin-left: 3%;
    }

    .PFfooter{
        width: 100vw;
    }

    .list1{
        width: 20%;
        padding-left: 1%;
        padding-right: 30%;
    }

    .hb1{
        width: 30%;
    }

    .ps1i{
        width: 70%;
    }
    
    .PFcomentario{
        width: 100vw;
        margin-left: 0%;
    }
    
    .PFcomentario2{
        width: 85%;
        margin-left: 7%;
    }
}

@media screen and (max-width:426px){

    .lg{
        width: 50%;
        height: 45%;
    }

    .PFm{
        width: 100vw;
        
    }

    .PFposter{
        height: 1%;
    }
    
    .PFposter2{
        width: 90%;
        height: 50%;
        padding-top: 10%;
        padding-left: 5%;
    }

    .PFtitulo{
        width: 100%;
        font-size: 22px;
        margin-top: 1%;
        margin-left: 130%;
    }

    .PFtitulo2{
        width: 100%;
    }

    .PFcont1{
        width: 100vw;
        height: 100%;
        flex-direction: column;
    }
    
    .PFcont2{
        width: 30%;
        height: 500px;
    }

    .PFdescricao2{
        width: 150%;
        font-size: 10px;
        height: 45px; 
        padding-right: 60%;
    }

    .PFdescricao{
        width: 260%;
        height: 111%;
        margin-left: 40%;
    }

    .PFgeneros{
        width: 100%;
        height: 20%;
        margin-left: 15%;
        margin-top: 310px;
    }

    .PFplayer{
        width: 80%;
        margin-left: 25%;
        
        height: 300px;
    }

    .PFplayer2{
        flex-direction: column;
        padding-left: 95%;
        
        
    }

    .PFplayerl{
        margin-bottom: 45px;
        
    }

    .PFplayerl,  .PFplayerd{
        width: 60px;
    }

    .PFcont3{
        padding-right: 20%;
        flex-direction: column;
    }

    .PFfooter{
        width: 100vw;
    }

    .list1{
        width: 20%;
        padding-left: 1%;
        padding-right: 30%;
    }

    .hb1{
        width: 30%;
    }

    .ps1i{
        width: 70%;
    }
    
    .PFcomentario{
        width: 100vw;
    }
    
    .PFcomentario2{
        width: 85%;
        height: 40px;
        margin-left: 7%;
    }

    .PFCfoto{
        width: 35px;
        height: 35px;
    }

    .a1{
        width: 120px;
        margin-left: 0px;
    }

    .ft{
        margin-right: 85px;
    }
}